<style> 
body
{
background-image:url(fill.jpg);
background-size:100%;
background-repeat:no-repeat;
}
#mymenu
{
background-color:rgba(245,0,0,0.9);
color:white;
text-align:right;
}
#mymenu ul li
{
display:inline-block;
padding:25px;
}
#mymenu ul li a
{
color:white;
text-decoration:none;
}
.A
{
background:white;
text-align:center;
font-size:25px;
line-height:30px;
line-spacing:4px;
}
#mymenu ul li:hover
{
background-color:blue;
}
.L
{
color:white;
text-decoration:none;
}
</style>